<span class="logo_title"><h1>CRM</h1></span>
<br>
<h1>Welcome to <%= @crm_app_name %>!</h1>
<br /><br >

<li class="new_contact" ><a href="/contacts">View all contacts</a></li>
<li class="new_contact" ><a href="/contacts/new">Add new contact</a></li>
<!-- <li><a href="/delete_contacts">Delete all contacts</a></li>
<li><a href="/edit_contacts">Edit contacts</a></li>
<li><a href="/search_contacts">Search for contacts</a></li>
<li><a href="/find_by_attribute">Search by name</a></li> -->
