<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/style.css" type="text/css" />
  </script>
  <title>My Bitmaker| web app</title>
</head>

<body>
<header>

  <h2 class="logo" >CRM <span class="application_style_logo">application</span></h2>
  <nav>
      <ul class="links_container">
      <li><a href="/">home</a></li>
      <li><a href="">portfolio</a></li>
      <li><a href="/contacts">contacts</a></li>
      <li><a href="#">about</a></li>
      <li><a href="#">forum</a></li>
    </ul>
  </nav>
  <form class="search_bar" action="index.html" method="get">
    <label for="">search
    <input type="search" name="name" value="">
    </label>
  </form>
  </header>

<!-- All elements should render in here -->
<span class="contact_chat_register" ><br> <a href=" "><img src="http://1img.org/wp-content/uploads/2015/09/facebook-icon-5.png" width="30" height="30" alt="facebook logo" /></a>
  <a href=""><img src="http://www.kancelarijazamlade.rs/images/tinymce/twitter3.png" width="30" height+"30" alt="twitter" /></a><a href=""><img src="https://www.rafbf.org/sites/all/themes/rafbf/img/icon-instagram.png" width="30" height+"30" alt="Instagram" /></a></span>
<div class="first_column" >

  <%= yield %>
</div>


<footer class="footer">
  <p>
    Copyright &copy 2016 Copyright Holder All Rights Reserved.
  </p>
</footer>
</body>

</html>
