<h1>Create new contact</h1>
<br><br>
<form class="add_contact" action="/contacts" method="post" >
  <label for="first_name">First name:
        <input type="text" id="first_name" name="first_name" placeholder="e.g John">
      </label>
  <label for="last_name">Last name:
        <input type="text" id="last_name" name="last_name" placeholder="e.g Doe">
      </label>
  <label for="email">Email:
        <input type="text" id="email" name="email" placeholder="e.g johndoe@domain.com">
      </label>
  <label for="note">Note:
        <input type="text" id="note" name="note" placeholder="e.g Description about me">
      <input type="submit" name="New Contact">
</form>
